
#calendar{
	
	/*border:solid 1px #ccc;*/
	display: inline-block;
	_display:inline;
	_zoom:1;
	/*border-radius: 5px;*/
	font:12px/1.5 'Microsoft YaHei',sans-serif;
	
}

.calendar-title{
	height:35px;
	line-height: 35px;
	text-align: center;
	border:solid 1px #8DB4C0;
	border-bottom:solid 1px #507883;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color:#fff;


	background-image:-webkit-linear-gradient(top,#8FBDCA,#74A2AF);
	filter:progid:DXImageTransform.Microsoft.gradient(startColor=#8FBDCA,endColor=#74A2AF,enabled);
}
.calendar-title a{
	background: url(arrow.png) no-repeat;
	_background:url(arrowie6.png) no-repeat;
	display: inline-block;
	width:15px;
	height:15px;
	/*border:solid 1px red;*/
	vertical-align: text-top;
	/*line-height: px;*/
}

#prevM{
	background-position: 0 1px;
}
#nextM{
	background-position: 0 -15px;
}
#prevY{
	background-position: 0 -30px;
}
#nextY{
	background-position: 0 -45px;
}


table{
	/*border:solid 1px red;*/
	border-left:solid 1px #ccc;
	/*border-right:solid 1px #ccc;*/
	margin:0 -1px -1px 0;
	/*border-radius:5px;*/
}

th{
	border-bottom:solid 1px #ccc;
	color:#5A5A5C;
}
td{
	width:28px;
	height:28px;
	border-bottom:solid 1px #ccc;
	border-right:solid 1px #ccc;
	color:#535356;
	text-align: center;
	vertical-align: middle;
}
.today{
	background-color: #F5EAE8;
	color: red;
}